<footer class="fixed-bottom p-2">
  <div class="text-center mb-1">
      <a href="https://www.linkedin.com/in/narayan-patel-078879259/" target="blank" class="ps-2"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://github.com/patelhere"target="blank" class="ps-2"><i class="fab fa-github"></i></a>
  </div>
  <div class="text-center">&copy; Narayan Patel</div>
</footer>

  
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="/css/index.js"></script>
 
</body>

</html>